* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 700px;
  background: url(../img/intro-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
header nav.navbar {
  background-color: transparent;
  border: none;
}
header nav.navbar .container .navbar-header .navbar-collapse {
  background-color: black;
}
header nav.navbar .container .navbar-brand {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
header nav.navbar .container .collapse .navbar-nav li a {
  color: #fff;
}
header nav.navbar .container .collapse .navbar-nav li a:hover {
  color: #F4D03F;
}
header .title {
  height: 600px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .title h1 {
  font-size: 25rem;
  font-weight: 700;
  letter-spacing: -2px;
}
header .title h1 .brand-heading {
  color: #F4D03F;
}
header .title p {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 50px;
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
header .title a.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 45px;
  padding: 7px 16px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100% !important;
  font-size: 40px;
  color: #F4D03F;
  background: 0 0;
}
header .title a.btn-circle:hover .animated {
  animation-name: animate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
main .personal {
  background: linear-gradient(to bottom, #6f7275 0%, #31353a 100%);
  padding: 80px 0;
}
main .personal h2 {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 30px;
  color: #ddd;
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
}
main .personal h2 span {
  font-weight: 600;
}
main .personal hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #F4D03F;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}
main .personal .row {
  width: 100%;
}
main .personal .row ul.row-list {
  text-align: center;
}
main .personal .row ul.row-list li.item {
  margin: 20px 0;
}
main .personal .row ul.row-list li.item i.fa {
  font-size: 50px;
  width: 120px;
  height: 120px;
  padding: 34px 0;
  margin-bottom: 10px;
  border-radius: 50%;
  color: #aaa;
  background: #474b4f;
  transition: all 0.5s;
}
main .personal .row ul.row-list li.item:hover i.fa {
  transform: scale(1.2);
  color: #F4D03F;
}
main .personal .row ul.row-list li.item h4 {
  color: #F4D03F;
}
main .personal .row ul.row-list li.item p {
  font-size: 18px;
  margin: 10px 0 10px;
  color: #ddd;
}
main .project-experience {
  background: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
  padding: 80px 0;
}
main .project-experience h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}
main .project-experience h2 strong {
  font-weight: bold;
}
main .project-experience hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #F4D03F;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}
main .project-experience p {
  text-align: center;
}
main .project-experience ul.nav-bar {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
main .project-experience ul.nav-bar li {
  float: left;
  padding: 10px;
  margin-right: 20px;
}
main .project-experience ul.nav-bar li:hover {
  background-color: #F4D03F;
  border-radius: 10px;
}
main .skill {
  background: linear-gradient(to bottom, #f4d03f 70%, #c3a632 100%);
  padding: 80px 0;
}
main .skill h2 {
  text-align: center;
}
main .skill hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background: rgba(255, 255, 255, 0.607);
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}
main .skill ul.list li {
  text-align: center;
}
main .skill ul.list li i.fa {
  font-size: 50px;
  width: 120px;
  height: 120px;
  padding: 34px 0;
  margin-bottom: 10px;
  border-radius: 50%;
  background: rgba(239, 204, 25, 0.734);
  transition: all 0.5s;
}
main .skill ul.list li h4 {
  font-size: 24px;
}
main .skill ul.list li p {
  display: inline-block;
  width: 229px;
}
main .self-introduction {
  background: linear-gradient(to bottom, #6f7275 0%, #31353a 100%);
  padding: 80px 0;
  overflow: hidden;
}
main .self-introduction .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .self-introduction .container h2 {
  text-align: center;
}
main .self-introduction .container hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background: rgba(241, 225, 0, 0.607);
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}
main .self-introduction .container .box {
  width: 446px;
  position: relative;
  height: 180px;
  overflow: hidden;
  box-sizing: content-box;
  display: inline-block;
}
main .self-introduction .container .box .content {
  width: 1380px;
  height: 180px;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 0.5s;
}
main .self-introduction .container .box .content .text {
  width: 1000px;
  display: inline-block;
  text-align: center;
  margin-left: 30px;
}
main .self-introduction .container .box .content .text p {
  display: block;
  font-weight: 500;
  margin: 30px 0;
  font-size: 16px;
  padding: 0 7px;
  line-height: 40px;
  color: #ddd;
}
main .self-introduction .container .box ul.dots {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
main .self-introduction .container .box ul.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 10px;
}
main .self-introduction .container .box ul.dots .activer {
  background-color: gray;
}
/*# sourceMappingURL=./简历.css.map */